<div class='battlefield'>
  <div class='team_container left'>
  <%- @team1.each do |character| %>
  <div>
    <%= image_tag character.unit%>
  </div>
  <% end %>
  </div>
  <div class='team_container right'>
  <%- @team2.each do |character| %>
  <div>
    <%= image_tag character.unit%>
  </div>
  <% end %>
  </div>
</div>

<div class='controls'>
  <div class='controls_container'>
    <%= link_to 'Add Knight', '/team/1/add/knight' %>
  </div>
  <div class='controls_container'>
    <%= link_to 'Add Mage', '/team/1/add/mage' %>
  </div>
  <div class='controls_container'>
    <%= link_to 'Add Medusa', '/team/2/add/medusa' %>
  </div>
  <div class='controls_container'>
    <%= link_to 'Add Genie', '/team/2/add/jinn' %>
  </div>
</div>    

<div class='task'>
  <p>
    Выше на странице происходит эпичная битва. 
  </p>
  <p>
    В базе данных в таблице characters лежат персонажи, разделенные на две команды. Для каждого персонажа определен его юнит, один из четырех доступных: mage, knight, medusa и jinn. Нужно реализовать логику битвы.
  </p>
    <p>
    В модели:
      <ol>
        <li>
          Запретить создание персонажей без команды или юнита
        </li>
        <li>
          Запретить создание персонажей с юнитом, не принадлещим указанному списку.
        </li>
        <li>
          Запретить создание персонажей с командой, отличной от 1 или 2.
        </li>
        <li>Учесть правило: В команду 1 можно добавить только мага и рыцаря, в команду 2 - только медузу и джинна.</li>
        <li>
        Реализовать логику обычных и ультимативных способностей команд
        </li>
        <li>
          Команда 1 может призвать нового мага или рыцаря, а команда 2 - нового джинна или новую медузу. Для этих действий нужны кнопки или ссылки.
        </li>
        <li>
          Ульта команды 1: если в команде 1 есть хотя бы два мага и два рыцаря, они могут использовать ульту и призвать 5 рыцарей. 
        </li>
        <li>
          Ульта команды 2: если в команде два есть 2 джинна и 1 медуза, они могут убрать с поля 3 случайных персонажей противников.
        </li>
        <li>
          Дополнительные механики на ваше усмотрение поощряются.
        </li>
      </ol>   
  </p>
    </p>
    <p>
    В роутинге и контроллерах:
      <ol>
        <li>
         Составить удобные пути для всех действий.
        </li>
        <li>
          Все действия должны заканчиваться редиректом на стартовую страницу, которая всегда отображает текущее состояние игры. AJAX использовать не нужно, но если сильно хочется, то можно.
        </li>
        <li>
        Реализовать контроллер или контроллеры, необходимые для работы приложения.</li>
      </ol>   
  </p>
  <p>
    В представлениях:
    <ol>
      <li>
        Добавить необходимые кнопки или ссылки. Примеры ссылок на странице, но они, конечно, не работают.
      </li>
      <li>
        Удалите этот текст, когда выполните все задания.
      </li>
      <li>
        Любые доработки поощряются.
      </li>
      <li>
        Опционально: в файле <code>app/views/home/index.html.erb</code>
        код для рендеринга команд повторяется с точностью до css-стилей. Подумайте, как избавиться от повторяющегося кода.
      </li>
    </ol>
  </p>
</div>    